@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 500;
    color: white;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
}

.bg{
    background-image: url("public/957583.jpg"); /* The image used */
    height: 100%; /* You must set a specified height */
    position: absolute;
    width: 100%;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container{
    border-radius: 1vw;
    background: linear-gradient(129deg, #000103 0%, #010104 100%);
    width: 65vw;
    height: 35vw;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 4vw;
    transform: translate(-50%, -50%);
}

.container-background-bottom-left-blur {
    position: absolute;
    left: 0vw;
    bottom: 0%;
    width: 40vw;
    height: 16vw;
    border: 1px solid white;
    border-radius: 56.4vw;
    background: #26c8fa31;
    filter: blur(11vw);
}

.container-background-top-right-blur {
    position: absolute;
    right: 0vw;
    top: 0%;
    width: 5vw;
    height: 5vw;
    border: 1px solid white;
    border-radius: 56.4vw;
    background: #fa2626;
    filter: blur(8vw);
}

/* .container-background-top-left-blur {
    position: absolute;
    left: 0vw;
    top: 0%;
    width: 10vw;
    height: 10vw;
    border: 1px solid white;
    border-radius: 56.4vw;
    background: #ffffff;
    filter: blur(12vw);
} */

.container-close{
    position: absolute;
    right: 4vw;
    padding: 0.1vw;
    padding-right: 0.2vw;
    padding-left: 0.2vw;
    border-radius: 0.3vw;
    border: 0.1vw solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.596);
    box-shadow: inset 0px 4px 20px rgb(80, 0, 0);
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0vw 0vw 1vw rgba(255, 0, 0, 0.9));
    cursor: pointer;
    z-index: 1;
}
.container-close:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(255, 0, 0);
}
.container-close i{
    font-size: 1.5vw;
    margin-top: 0.2vw;
}
.container-close .bx {
    z-index: -1;
}
.container-header{
    filter: drop-shadow(0vw 0vw 1vw rgba(255, 255, 255, 0.3));
}
.container-header-top{
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}
.container-header-bottom{
    font-size: 0.7vw;
    margin-top: -0.4vw;
    font-weight: bold;
    color: rgb(223, 223, 223);
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 0.4vw; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 195, 255, 0.315);
    border-radius: 0.15vw; 
    border: 0.1vw solid transparent; 
    background-clip: padding-box; 
}

::-webkit-scrollbar-corner {
    background-color: transparent; /* Transparente Ecke */
}

.container-camera-lists{
    width: 100%;
    margin-top: 3vw;
    overflow: scroll;
    max-height: 23.5vw;
}
.camera-box{
    display: flex;
    margin-right: 1vw;
    align-items: center;
    border: 0.1vw solid white;
    border-radius: 0.3vw;
    padding: 0.8vw;
    position: relative;
    margin-bottom: 1vw;
    border: 0.1vw solid rgba(0, 162, 255, 0.15);
    background-color: #26c8fa11;
    box-shadow: inset 0px 4px 20px rgba(0, 48, 80, 0.5);
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0vw 0vw 1vw rgba(0, 102, 255, 0.3));
}
.camera-description,
.camera-position{
    margin-right: 1vw;
    max-width: 20vw;
    width: 16.5vw;
}

.camera-description-top{
    font-size: 1.2vw;
    font-weight: bold;
    text-transform: uppercase;
}
.camera-description-bottom{
    font-size: 0.7vw;
    font-weight: bold;
    color: rgb(223, 223, 223);
    text-transform: uppercase;
}
.camera-position p{
    font-size: 0.7vw;
    font-weight: bold;
    color: rgb(223, 223, 223);
    text-transform: uppercase;
    text-align: center;
}
.camera-actions{
    position: absolute;
    right: 1vw;
}
.camera-actions button{
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: 0.3vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-radius: 0.3vw;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 0.75vw;
    border: 0.1vw solid rgba(0, 162, 255, 0.3);
    background-color: rgba(0, 195, 255, 0.17);
    box-shadow: inset 0px 4px 20px rgb(0, 48, 80);
    transition: 0.3s ease-in-out;
}
.camera-actions button:hover{
    transition: 0.3s ease-in-out;
    background-color: rgba(0, 195, 255, 0.35);
}

.loader {
    width: 5vw;
    aspect-ratio: 1;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
  }
  .loader::before,
  .loader::after {    
    content:"";
    grid-area: 1/1;
    --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
    background: 
      var(--c) 50%  0, 
      var(--c) 50%  100%, 
      var(--c) 100% 50%, 
      var(--c) 0    50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
  }
  .loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
  }
  
  @keyframes l12 { 
    100%{transform: rotate(.5turn)}
  }
  